body {
    display: flex;
    justify-content: center;
}

#container {
    width: 60%;
    position: relative;
    border: 1px solid #000;
}

#head {
    display: flex;
    justify-content: center;
}

#body {}

.form {}

.central {
    width: 80%;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    left: 10%;
}

#noti1,
#noti2,
#noti3 {
    position: absolute;
    width: 10%;
    right: -12%;
    top: -20%;
    color: darkred;
}

input {
    width: 80%;
    height: 30px;
}

label {
    display: flex;
    align-items: center;
    width: 30%;
    font-size: 20px;
}

button {
    position: relative;
    margin: 20px;
    margin-left: 10%;
    width: 10%;
    height: 40px;
    background-color: gray;
}

#end div {
    display: flex;
    justify-content: center;
}

#end {
    /* display: none; */
}

#end table {
    width: 80%;
    border-collapse: collapse;
    border-left: none;
    border-right: none;
}

th {
    border: 1px solid #000;
    border-left: none;
    border-right: none;
    height: 50px;
    color: white;
    background-color: rgb(60, 60, 60);
}

.no {
    width: 10%;
}

.product {
    width: 36%;
}

.quanlity {
    width: 15%;
}

.price,
.total {
    width: 19.5%;
}

#body-table {
    margin-bottom: 50px;
}

#body-table tr {
    border: none;
    border-bottom: 1px solid #000;
}

#body-table td {
    text-align: center;
    vertical-align: center;
    font-size: 120%;
    height: 30px;
}